/**************
Qui modifico tutto il body del mio html
**************/

body{
  background-color:#A9E2F3;
  color: #58ACFA
}
.btn-lg{
  background-color: #58ACFA
}

.row intestazione{
  background-color: #E0F8F1
}

/**************
Qui vado a definire il contenirore del mio contenuto
**************/

.maincontainer{
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
}



/**************
intestazione
**************/


.jumbotron{
background-color: #E0F8F1
}

.intestazione h1{
  font-size:30pt;
  font-weight:bold;
}


.intestazione h3{
  font-size:20pt;
  font-style:italic;
}

.intestazione h4{
  font-size:10pt;
}

.intestazione .cta{
  color:#ffffff;
  padding-bottom:10pt;
}

/****************
sezione educazione
**********/


.education{
  list-style-type: none;
}

.nomeed{
  font-weight: bold;
}

.doveed{
  font-style: italic;
}
.img-responsive{
  width: 300px

}
