/**************
Qui modifico tutto il body del mio html
**************/

body{
  background-color:#ececec;
}

h2{
  color: grey!important;
  background-color: #80808061;
}
/**************
Qui vado a definire il contenirore del mio contenuto
**************/

.maincontainer{
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
}



/**************
intestazione
**************/

.jumbotron{ /*se volessi modificare lo sfondo della parte alta della pagina, dovrei scrivere qui*/


}




.intestazione h1{
  font-size:30pt;
  font-weight:bold;
  text-align:right;
  text-shadow: 2px 4px #808080d4;
}




.intestazione h3{
  font-size:20pt;
  font-style:italic;
  text-align:right;
}

.intestazione h4{
  font-size:10pt;
  text-align:right;
}

.intestazione .cta{
  color:#ffffff;
  padding-bottom:10pt;
}

/****************
sezione educazione
**********/


.education{
  list-style-type: none;
}

.nomeed{
  font-weight: bold;
}

.doveed{
  font-style: italic;
}

img-thumbnail-img-responsive{
  border-radius: 20%;
}
