/**************
Qui modifico tutto il body del mio html
**************/

body{
  background-color: #ff9933;
  font-family: monospace;
}


/**************
Qui vado a definire il contenirore del mio contenuto
**************/

.maincontainer{
  background-color: #ffb366;
  color: inherit;
}



/**************
intestazione
**************/

.jumbotron{
  background-color: #ffe6cc


}

.intestazione h1{
  font-size:30pt;
  font-weight:bold;
}


.intestazione h3{
  font-size:20pt;
  font-style:italic;
}

.intestazione h4{
  font-size:10pt;
}

.intestazione .cta{
  color:#ffffff;
  padding-bottom:10pt;
}

/****************
sezione educazione
**********/


.education{
  list-style-type: none;
}

.nomeed{
  font-weight: bold;
}

.doveed{
  font-style: italic;
}

a {
  color: black;
}
